{% extends "base.html" %} {% block main %} {% load static %} {% load i18n %}

<header
  class="site-header d-flex flex-column justify-content-center align-items-center"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'references_app' %}">{% trans "home" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {% trans "references" %}
            </li>
          </ol>
        </nav>
        <h2 class="text-white">{% trans "references" %}</h2>
      </div>
    </div>
  </div>
</header>

<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-12 mt-3 mx-auto">
        <!-- Listing content for references and categories -->
        {% for item in page_obj %}
        <div
          class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5"
        >
          <div class="d-flex">
            <img
              src="{% static 'images/topics/undraw_Remote_design_team_re_urdx.png' %}"
              class="custom-block-image img-fluid"
              alt=""
            />
            <div class="custom-block-topics-listing-info d-flex">
              {% if item.type == 'reference' %}
              <div>
                <h5 class="mb-2">{% trans item.title %}</h5>
                <p class="mb-0">{% trans item.description %}</p>
                <a
                  href="{% url item.link %}"
                  class="btn custom-btn mt-3 mt-lg-4"
                  ><i class="bi bi-eye"></i> {% trans "Ko'rish" %}</a
                >
              </div>
              <span class="badge bg-design rounded-pill ms-auto"
                >{{ item.count }}</span
              >
              {% elif item.type == 'category' %}
              <div>
                <h5 class="mb-2">{{ item.category_name }}</h5>
                <p class="mb-0">{{ item.category_decription }}</p>
                <a
                  href="{% url 'references_table' item.id %}"
                  class="btn custom-btn mt-3 mt-lg-4"
                >
                  <i class="bi bi-eye"></i> {% trans "Ko'rish" %}
                </a>
              </div>
              <span class="badge bg-design rounded-pill ms-auto"
                >{{ item.cell_count }}</span
              >
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}

        <!-- Pagination -->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center mb-0">
            <li
              class="page-item {% if not page_obj.has_previous %}disabled{% endif %}"
            >
              {% if page_obj.has_previous %}
              <a
                class="page-link"
                href="?page={{ page_obj.previous_page_number }}"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo; Prev</span>
              </a>
              {% else %}
              <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo; Prev</span>
              </a>
              {% endif %}
            </li>
            {% for num in page_obj.paginator.page_range %}
            <li
              class="page-item {% if num == page_obj.number %}active{% endif %}"
            >
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            <li
              class="page-item {% if not page_obj.has_next %}disabled{% endif %}"
            >
              {% if page_obj.has_next %}
              <a
                class="page-link"
                href="?page={{ page_obj.next_page_number }}"
                aria-label="Next"
              >
                <span aria-hidden="true">Next &raquo;</span>
              </a>
              {% else %}
              <a
                class="page-link"
                href="?page={{ page_obj.number }}"
                aria-label="Next"
              >
                <span aria-hidden="true">Next &raquo;</span>
              </a>
              {% endif %}
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

{% endblock %}
