{% extends "./bases.html" %} {% block main %} {% load i18n %}
<main class="w-100 px-md-4">
  <div class="container-fluid">
    <h3 class="text">Bo'limlar</h3>
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      {% trans "create" %}
    </button>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Ma'lumotnomalar bo'limi
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="POST">
              {% csrf_token %} {{ form.as_p }}
              <div class="modal-footer">
                <button type="submit" name="add-category" class="btn btn-success">Saqlash</button>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                >
                  Chiqish
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% for category in categories %}
    <div
    class="modal fade"
    id="editCategoryModal-{{ category.id }}" 
    tabindex="-1"
    aria-labelledby="editCategoryModalLabel-{{ category.id }}"
    aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editCategoryModalLabel-{{ category.id }}">
            Tahrirlash Bo'limi
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="category_id" value="{{ category.id }}" />
            <div class="mb-3">
              <label for="categoryName-{{ category.id }}" class="form-label">Bo'lim Nomi</label>
              <input
                type="text"
                class="form-control"
                id="categoryName-{{ category.id }}"
                name="category_name" 
                value="{{ category.category_name }}"
                required
              />
            </div>
            <div class="mb-3">
              <label for="categoryDecription-{{ category.id }}" class="form-label">Bo'lim matni</label>
              <input
                type="text"
                class="form-control"
                id="categoryDecription-{{ category.id }}"
                name="category_decription" 
                value="{{ category.category_decription }}"
                required
              />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                Chiqish
              </button>
              <button type="submit" name="edit-category" class="btn btn-success">
                Saqlash
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>{% endfor %}
    <table class="w-100 border-collapse border border-light-300 my-3">
      <thead class="bg-light-100">
        <tr class="text-lg font-medium text-light-700">
          <th
            scope="col"
            style="width: 5px"
            class="border border-light-300 px-4 py-2 text-left"
          >
            id
          </th>
          <th class="border border-light-300 px-4 py-2 text-left">
            {% trans "namination_uz" %}
          </th>
          <th class="border border-light-300 px-4 py-2 text-left">
            Description
          </th>
          {% if user.is_admin %}<th
          style="width: 140px"
          class="border border-light-300 px-4 py-2 text-left"
        >
          Foydalanuvchi
        </th>{% endif %}
          <th
            style="width: 140px"
            class="border border-light-300 px-4 py-2 text-left"
          >
            Action
          </th>
         
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr class="text-lg text-light-600 even:bg-light-50 hover:bg-light-100">
          <td
            scope="row"
            style="width: 5px"
            class="border border-light-300 px-4 py-2"
          >
            {{ category.id }}
          </td>
          <td class="border border-light-300 px-4 py-2">
            {{ category.category_name }}
          </td>
          <td class="border border-light-300 px-4 py-2">
            {{ category.category_decription }}
          </td>
          {% if user.is_admin %}<td class="border border-light-300 px-4 py-2">
            {{ category.user.username }} 
          </td>{% endif %}
          <td style="width: 200px" class="border border-light-300 px-4 py-2">
            <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#editCategoryModal-{{ category.id }}" 
            >
            <i class="bi bi-pencil"></i>
            </button>
            <a
              type="button"
              class="btn btn-warning"
              href="{% url 'manage_table_headers' category.id %}"
              class="btn btn-primary"
            >
              <i class="bi bi-pencil-square"></i>
            </a>
            <button
              type="button"
              class="btn btn-danger"
              onclick="deleteCategory('{{ category.id }}')"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1"
            ><i class="bi bi-chevron-double-left"></i></a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
            ><i class="bi bi-chevron-left"></i></a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="#"
            ><i class="bi bi-chevron-double-left"></i></a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#"
            ><i class="bi bi-chevron-left"></i></a>
        </li>
        {% endif %}
  
        <li class="page-item active">
          <span class="page-link">
            {{ page_obj.number }} - {{ page_obj.paginator.num_pages }} Jami
          </span>
        </li>
  
        {% if page_obj.has_next %}
        <li class="page-item active">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}"
            ><i class="bi bi-chevron-right"></i></i
          ></a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
            ><i class="bi bi-chevron-double-right"></i></a>
        </li>
        {% else %}
        <li class="page-item active">
          <a class="page-link" href="#"><i class="bi bi-chevron-right"></i></i></a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#"
            ><i class="bi bi-chevron-double-right"></i></a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <form id="delete-form" method="post" style="display: none">
    {% csrf_token %}
    <input type="hidden" name="delete-category" value="1" />
    <input type="hidden" name="category_id" id="delete-category-id" />
  </form>
</main>
<script>
  function deleteCategory(categoryId) {
    if (confirm("Are you sure you want to delete this category?")) {
      const deleteForm = document.getElementById("delete-form");
      const categoryInput = document.getElementById("delete-category-id");

      categoryInput.value = categoryId;

      // Submit the form
      deleteForm.submit();
    }
  }
</script>
{% endblock main %}
